asgiref==3.9.1
autopep8==2.3.2
blinker==1.9.0
click==8.1.8
colorama==0.4.6
Django==5.2.4
dnspython==2.7.0
Faker==37.4.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mysql-connector==2.2.9
mysql-connector-python==9.3.0
pycodestyle==2.14.0
pymongo==4.13.2
python-dotenv==1.1.1
sqlparse==0.5.3
tzdata==2025.2
Werkzeug==3.1.3
